/* body */
html {
  height: 100%;
  font-size: 16px;
}
body {
  text-align: center;
  height: 100%;
  background: radial-gradient(#edb065, #b25023);
  background-size: 100%;
  font-family: "Impact";
  margin-left: 0 auto;
}
nav {
  margin-bottom: 10px;
}
h1 {
  font-size: 2.5em;
  display: inline-block;
  margin: 0 3%;
}
/*for 'Rules' and 'About' sections - toggle on when sections added*/
/* nav a {
font-size: 1em;
text-decoration: none;
} */
#play-area {
  width: 80%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

/* end sign, now just a win sign */
#end-sign {
position: absolute;
z-index: 1;
/* borrowed some code from: https://css-tricks.com/centering-css-complete-guide/ */
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
#end-text {
  font-size: 10em;
  display: none;
  text-shadow: 3px 0 40px;
}

/* main board */
/* borrowed some code from https://www.w3schools.com/howto/howto_css_flip_card.asp */
#game-board {
  position: relative;
}
#card-layout {
background: radial-gradient(green, darkgreen, darkgreen);
width: 100%;
min-height: 650px;
height: 80vh;
border: 4px solid black;
box-shadow: 2px 2px 50px;
border-radius: 10px;
margin: 0 auto;
display: grid;
grid-template-rows: 1fr 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.card-placer {
  margin: auto;
  padding: 10px;
  width: 60%;
  height: 100%;
  border-radius: 6px;
  background-color: transparent;
  perspective: 1000px;
}
.card-flipper {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform .4s;
  transform-style: preserve-3d;
}
.card-backs, .card-fronts {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-fronts {
  transform: rotateY(180deg);
}
.card-backs img:hover {
  box-shadow: 0 2px 25px lightgrey;
}
.card-backs img:active {
  opacity: .5;
}
#card-layout img {
  border: 2px solid black;
  width: 100%;
  border-radius: 6px;
}
.fixed img:hover {
  box-shadow: none;
}
.fixed .card-backs img:active {
  opacity: 1;
}

/* initial start button */
#start {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: transparent;
color: white;
padding: 2%;
font-size: 12px;
border: 2px solid white;
margin: auto;
transition-property: color, border, font-size, font-weight, padding;
transition-duration: .2s;
transition-timing-function: ease-in;
}
#start:hover {
  color: black;
  border: 4px solid black;
  font-size: 20px;
  padding: 4%;
  font-weight: 800;
  transition-property: color, border, font-size, font-weight, padding;
  transition-duration: .1s;
  transition-timing-function: linear;
}
#start:focus {
  opacity: .3;
  outline: none;
}

/* score trackers */
#score-box {
  margin: 0 auto;
  width: 75%;
  max-width: 800px;
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#strike-box {
  padding-left: 20%;
  text-align: left;
  line-height: 3px;
  display: none;
}
.data-display {
font-size: 20px;
}

/* new game button */
#new-game-box {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  max-height: 100%

}
#new-game {
  grid-row: 2;
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 10px;
  box-shadow: none;
  border-radius: 10px;
  font-weight: bold;
  margin: -10px auto;
  transition-property: font-weight, border-radius, box-shadow, background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
}
#new-game:hover {
  color: white;
  background-color: #ccaa82;
  border-radius: 30px;
  box-shadow: 1px 1px 50px black;
  font-weight: 100;
  transition-property: font-weight, border-radius, box-shadow, background-color;
  transition-duration: 1.5s;
  transition-timing-function: ease-out;
}
#new-game:focus {
  outline: none;
}
#new-game:active {
  opacity: .3;
}

/* media query for all mobile/tablet */
@media only screen and (max-width: 1024px) {
  #new-game:hover {
  color: black;
  background-color: transparent;
  box-shadow: none;
  font-weight: bold;
  }
  .card-backs img:hover {
    box-shadow: none;
  }
}

/* media query for tablet portrait */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  #card-layout {
    height: 85vh;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 1.5%
    }
    #score-box {
      margin-top: -5px;
    }
    .data-display {
      line-height: 2px;
  }
}

@media only screen and (max-width: 414px) and (orientation: portrait) {
  h1 {
    margin-top: 10vh;
    font-size: 1.5em;
  }

  #card-layout {
    min-height: 500px;
    height: 60vh;
    padding-top: 1%
    }
  .game-data {
    font-size: .5em;
  }
}

/* media query for mobile landscape */
@media only screen and (max-width: 812px) and (orientation: landscape) {
  h1 {
    font-size: 1em;
  }
  #card-layout {
    height: 75vh;
    min-height: 200px;
    padding-bottom: 1%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .game-data {
    font-size: .5em;
  }
  #score-box {
    margin-top: -5px;
  }
  .data-display {
    font-size: 20px;
    line-height: 10px;
}
}